body {
    background-color: #f8f9fa;
}

.recipe-container {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
}

.recipe-image {
    max-width: 100%;
    border-radius: 8px;
}

.ingredients-list {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.instructions {
    line-height: 1.6;
    font-size: 20px;
    margin-bottom: 30px;
}

.btn-back {
    margin-top: 20px;
}
