<label>Preview:</label>
<div>
    <img src="data:image;base64,@Convert.ToBase64String(FileContent)" alt="Preview" class="img-thumbnail" style="max-width: 200px; max-height: 200px;" />
</div>


@code {
    [Parameter, EditorRequired] public byte[] FileContent { get; set; } = default!;
}
